/* SASS Variables */
$lightBrown: #BA7D2F;
$mediumBrown: #A06E32;
$darkBrown: #915E2A;
$darkestBrown: #422B12;
$lightGreen: #cfe6b8;
$clipWidth: 450px;
$loaderColor: #98cf61;
$sidebarSize: 160px;
$clipPadding: calc(calc(100% - 960px)/2);

/* Spin animation for loading circle */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* CSS applied to elements of x-type */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebarSize;
  background-color: $mediumBrown;
  border-top: 2px solid $darkestBrown;

  &:nth-child(1) {
    padding-left: 25px;
  }
}

input[type="text"], input[type="password"] {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12pt;
  width: 250px;
  border-radius: 6px;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}


li {
  margin-left: 25%;
  margin-right: 25%;
}

/* Classes */
.ad-sidebar {
    position: absolute;
    z-index: 999;
    padding-left: 10px;
    top: 600px;
}

.clip {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 7px 7px 4px grey;
  width: $clipWidth;
  padding: 8px;
  margin: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  transition: .5s;
}

.clip:hover{
    box-shadow: 7px 7px 4px #73c9e6;
    transition: .5s;
}

.clipList {
  width: 100%;
  margin-left: $sidebarSize;
  margin-top: 20px;
  padding-right: $clipPadding;
  padding-left: $clipPadding;
}

.clipSubmit {
    width: 20%;
    margin-top: 15px;
    margin-right: 40%;
    margin-left: 40%;
}

.content-box {
  margin: auto;
  margin-top: 13%;
  position: relative;
  left: $sidebarSize;
  width: 800px;
  border-radius: 25px;
  border: 2px solid $darkestBrown;
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  
  h3, h5 {
    text-align: center;
  }
}

.creator {
    float: right;
    font-size: 12pt;
}

.current-page {
    border: 2px solid $lightBrown;
}

.formSubmit, .back {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  background-color: $lightBrown;
  border-radius: 2px;
  border-color: $darkBrown;
  color: white;
  text-decoration: none;

  &:link, &:visited, &:hover, &:active {
    color: white;
  }

  &:hover {
    transition: background-color 0.4s ease;
    background-color: $mediumBrown;
  }
}

.input-item {
  display: flex;
  padding: 0px;
  margin: 0px;
    
  .input-label {
    order: -1;
    text-align: left;
    margin-left: 180px;
    font-weight: normal;
    transition: .2s;
  }
  
  input[type="text"], input[type="password"] {
    margin: auto;
    margin-right: 180px;
    width: 250px;
    background-color: white;
    transition: .2s;
    
    &:focus {
      background-color: $lightGreen;
      transition: .2s;
      
      ~ label {
        font-weight: bold;
      }
    }
  }
}

/* Loader CSS modified from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid $loaderColor;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

.loader-container {
    text-align: center;
    padding-top: 20%;
    position: relative;
    left: $sidebarSize;
}

.mainForm {
  position: relative;
  left: $sidebarSize;
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1.2em;

  h3 {
    text-align: center;
  }

  label {
    display: inline-block;
    margin-left: 50px;
    width: 100px;
    text-align: right;
    font-size: 1.2em;
  }
  
  input[type="text"], input[type="password"] {
    margin-left: 50px;  
  }
}

.navlink {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: white;
  font-size: 1.3em;
  float: left;

  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: $mediumBrown;
    transition: background-color 0.4s ease;

    &:link, &:visited, &:hover, &:active {
      color: white;
      text-decoration: none;
      padding: 5px;
      border-radius: 4px;
      background-color: $mediumBrown;
      transition: background-color 0.4s ease;
    }

    &:hover {
      transition: background-color 0.8s ease;
      background-color: $lightBrown;
    }
  }
}

/* Speech Bubble CSS from */
/* https://auralinna.blog/post/2017/how-to-make-a-css-speech-bubble-with-borders-and-drop-shadow */
/* and modified for Sass */
.speech-bubble-ds {
  background: #efefef;
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
    
  p {
    margin-bottom: 10px; 
  }
  
  p:last-of-type {
    margin-bottom: 0;
  }
}

.speech-bubble-ds-arrow {
  border-left: 21px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.2);
  bottom: -25px;
  position: absolute;
  right: 15px;
    
  ::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
  }
  
  ::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
  }
}

.user {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid $darkestBrown;
  border-radius: 4px;
  padding: 10px;
  min-height: 60px;
  overflow: hidden;
   
  &:nth-child(even) {
    background-color: $lightBrown;
  }
  
  &:nth-child(odd) {
    background-color: $darkBrown;  
  }
  
  &:nth-child(1) {
    background-color: #e3c922;
  }
  
  &:nth-child(2) {
    background-color: #c4c4c4;
  }
  
  &:nth-child(3) {
    background-color: #5c4b1c;
  }
}

/* Classes one-liners */
.back { margin: 0 0 0 10 !important; }
.center-content { text-align: center; }
.fake-input { background-color: #d6d6d6 !important; }
.float-right { float: right; }
.help { cursor: help; }
.game, .description, .char1, .char2 { margin-bottom: 0px; }
.pointer { cursor: pointer; }
.post-date { margin-bottom: 8px; }
.premium-button { margin-bottom: 30px; }

/* IDs */
#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

#hut {
    position: absolute;
    width: 350px;
    height: 350px;
    left: calc(50% - 15px);
    z-index: -999;
}

#logo {
  height: 40px;
  width: 40px;
  margin-top: 4px;
  margin-left: 60px;
  float: left;
  border-radius: 8px;
}

#premium-indicator {
  text-align: right;
  padding-right: 20px;
}

#search {
  margin-top: 15px;
  margin-left: $sidebarSize + 48;
}

#terry {
  z-index: 225;
  margin-left: 100px;
}

#terryMessage {
  display: none;
  top: 250px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
  padding-right: 20px;

  h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
}

#user-leaderboard {
    padding-bottom: 30px;
    text-decoration: underline;
}

#userList {
  width: 40%;
  min-width: 400px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  left: $sidebarSize;
  
  div {
    left: 0;
  }
}

#userSearch, #gameSearch, #charSearch {
  margin-bottom: 5px;
  width: 250px;
  background-color: white;
  transition: .2s;
    
  &:focus {
    background-color: $lightGreen;
    transition: .2s;
  }
}

/* IDs one-liners */
#title { padding-bottom: 10px; }